Source: ros-kinetic-pepper-meshes
Section: misc
Priority: extra
Maintainer: Mikael Arguedas <mikael.arguedas@gmail.com>
Build-Depends: debhelper (>= 9.0.0), openjdk-6-jdk, ros-kinetic-catkin
Homepage: http://github.com/ros-naoqi/pepper_meshes/
Standards-Version: 3.9.2

Package: ros-kinetic-pepper-meshes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: meshes for the Aldebaran Robotics Pepper
